.idea/
.gradle
target/
logs/
bower_components/
.project
.classpath
.settings
*.log
*.iml
*.jar
danmu_java_client/DmFile/
solution_api/build/classes/main/generated/
solution_api/build/tmp/compileJava/
solution_api/src/test/
solution_db_model/build/classes/main/generated/
solution_db_model/build/tmp/compileJava/
solution_db_service/build/classes/main/generated/
solution_db_service/build/tmp/compileJava/
solution_webCrawler/build/classes/main/generated/
solution_webCrawler/build/tmp/compileJava/
